:root {
  --color-offwhite: 237, 236, 242;
  --color-dark: 95, 76, 69;
  --color-medium: 168, 152, 152;
  --color-contrast: 175, 213, 222;
}

* {
  box-sizing: border-box;
}

html {
  overflow: auto;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

a,
a:active,
a:hover,
a:not([href]),
a:not([href]):hover {
  text-decoration: none;
  color: rgb(var(--color-offwhite));
  cursor: pointer;
}

.App {
  color: rgb(var(--color-dark));
  height: 100vh;
  width: 100vw;
  background-color: rgb(var(--color-offwhite));
  padding: 20px;
}

.bg {
  background-image: url(https://starai.uber.space/projects/FCC/RandomQuote/static/media/symphony.fcb1692c.png);
  background-blend-mode: multiply;
}

.App-Container {
  background-color: rgb(var(--color-offwhite));
  height: 100%;
  width: 100%;
  box-shadow: 10px 10px 20px rgb(var(--color-medium));
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Button-Row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Button-Row-Small{
  justify-content:flex-end;
}

.Quote-Box > p {
  color: rgb(var(--color-dark));
  text-shadow: 3px 3px 5px  rgb(var(--color-medium));
  font-size:3vh;
  font-family: 'Lobster', cursive;
  text-align: justify;
}

.btn-small {
  background-color: rgb(var(--color-dark));
  width: auto;
  margin: 1px;
  text-align:center;
  padding: 5px;
  font-weight:bold;
  border-radius:3px;
  font-size:20px;
  
}

.Quote-Author {
  font-weight:bold;
}
/* Bootstrap Fix */

.row {
  margin: 0px;
}

/* Non - Mobile */
@media only screen and (min-width: 600px ) {
  
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: rgb(var(--color-dark));
  background-color: rgb(var(--color-offwhite));
  justify-content: center;
  align-items: center;
}


.App-Container {
  min-height: 25vh;
  max-height:40vh;
  width: 60vw;
  min-width: 600px;
  box-shadow: 10px 10px 20px rgb(var(--color-medium));
  background-color: rgb(var(--color-offwhite));
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Quote-Box {
  text-align: justify;
  text-shadow: 1px 1px 5px rgb(var(--color-dark));
  font-size:15px;
  font-style: normal;
}

.Quote-Box > p {
  font-style: italic;
}

.Quote-Author {
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-small {
  background-color: rgb(var(--color-dark));
  box-shadow: none;
  border: none;
  color: rgb(var(--color-offwhite));
  border-radius: 3px;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  padding: 5px;
  margin:10px;
}

.btn-small:hover {
  transform: scale(1.1);
}

.btn-small:focus {
  outline: none;
}
}